h1 {
    font-weight: bold;
    color: purple;
}

#red {
    color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#teal {
    background-color: teal;
}

#pink {
    background-color: pink;
}