<!doctype html>
<html>
<head>
  <title>You are playing the game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
  <h1>You are playing the game</h1>
  <form action="/madlib">

    <label>Person</label>
    <input type="text" name="person">

    <br>
    <label>Color</label>
    <select name="color">
        <option id= "red" value="red">Red</option>
        <option id= "orange" value="orange">Orange</option>
        <option id= "yellow" value="yellow">Yellow</option>
        <option id= "green" value="green">Green</option>
        <option id= "blue" value="blue">Blue</option>
        <option id= "purple" value="purple">Purple</option>
        <option id= "teal" value="teal">Teal</option>
        <option id= "pink" value="pink">Pink</option>
    </select>

    <br>
    <label>Location</label>
    <br>
    <input type="checkbox" name="location" value="Hackbright Labs">
    <label>Hackbright Labs</label>
    <br>
    <input type="checkbox" name="location" value="beach">
    <label>beach</label>
    <br>
    <input type="checkbox" name="location" value="Parking lot">
    <label>parking lot</label>
    
    <br>
    <label>Noun</label>
    <input type="text" name="noun">

    <br>
    <label>Adjective</label>
    <input type="text" name="adjective">

    <br>
    <button type="submit">Submit</button>

  </form>
</body>
</html>
